*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.baner{
    background-color: greenyellow;
    height: 10%;
}
.glowny{
    background-color: #a02727;
    height: 912px;
}
.dzien{
    float: left;
    align-items: center;
    margin: 20px;
    height: 100px;
    width: 15.5%;
    background-color: #d12f2f;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}
footer{
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: greenyellow;
}
footer p{
    float: right;
}
footer a{
    float: left;
}